@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-brand-orange: #f26522;
  --color-brand-green: #1b5e3f;
  --color-brand-red: #8b1e2e;
}